
body{
    margin: 0%;
    padding: 30px 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}
a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  }
  
.logo{
    cursor: pointer;
    margin-right: auto;
    width: 60px;
    height: 60px;
    
}
.nav-links{
    font: bold;
    list-style: none;
    transform: 0.5s;
    margin-left: auto;

}
.nav-links li{
    display: inline-block;
    padding: 0px 10px;
    font-weight: 700;

    
}
.nav-links li a.active{
    color: white;
}
.nav-links li a:hover{
    color:white;
    background-color:  #7D53DF;
    border-radius: 50px;
    padding:5px 15px;


}
.active{
    background-color: #7D53DF;
    border-radius: 50px;
    padding:5px 15px;
}

h1{
    padding: 5px 40px;
}
.div2{
    padding: 20px 20px;
    align-items: center;

}
.phr{
    padding-left: 80px;
    word-spacing: 5px;
    
}
.div3{
    display: flex;
    justify-content: center;
    
}

.button{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 30px;
    border-radius: 50px;
    background-color:  #7D53DF;
    color: white;
    border: none;
    
}
.div3 .button a{
    text-decoration: none;
}

