
*> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:"wdth" 100;
  }
body{
    margin: 0%;
    padding: 30px 30px;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: black;

}
.logo{
    cursor: pointer;
    margin-right: auto;
    width: 50px;
    height: 50px;
    
}
.nav-links{
    list-style: none;
    transform: 0.5s;
    margin-left: auto;

}
.nav-links li{
    display: inline-block;
    padding: 0px 10px;

    
}
.nav-links li a.active{
    color: white;
}
.nav-links li a:hover{
    color: 7D53DF;

}
.active{
    background-color: 7D53DF;
    border-radius: 50px;
    padding:5px 15px;
}

h1{
    padding: 5px 40px;
}
.phr{
    padding-left: 80px;
}
.div3{
    display: flex;
    justify-content: center;
    
}

.button{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 30px;
    border-radius: 50px;
    background-color:  7D53DF;
    color: white;
}
.p{
    display: flex;
    justify-content: space-between;
}